<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Create or Edit Blog</title>
    <link rel="stylesheet" href="/CSS/PostForm.css">
</head>

<body>
<h1>
    <a href="/">Blog Post App</a>
</h1>
<h3><span th:text="${message}"/></h3>
<div class="container">
    <form>
        <input type="hidden" th:value="${post}!=null?${post.id}:null" name="id">
        <div>
            <label>Title</label>
            <textarea type="text" placeholder="Title"
                      th:text="${post}!=null?${post.title}:null" name="title"></textarea>
        </div>
        <br>
        <div>
            <label>Author</label>
            <textarea th:text="${session.user.name}" th:value="${session.user.name}" name="author" readonly></textarea>
        </div>
        <div th:if="${post.author} == ${session.user}">
            <label>Author</label>
            <textarea th:text="${session.user.name}" th:value="${session.user.name}" name="author" readonly></textarea>
        </div>
<!--        <div th:if="${session.user.role}=='ADMIN' AND !${post}">-->
<!--            <label>Author</label>-->
<!--            <select name="author">-->
<!--                <option th:each="author:${authorList}" th:value="${author}" th:text="${author}"/>-->
<!--            </select>-->
<!--        </div>-->
        <br>
        <div class="mb-3">
            <label>Excerpt</label>
            <textarea th:text="${post}!=null?${post.excerpt}:null" placeholder="Excerpt"
                      name="excerpt"></textarea>
        </div>
        <div class="mb-3">
            <label>Tags</label>
            <textarea class="form-control" th:text="${post}!=null?${tagList}:null" name="tagString" placeholder="Enter tags seperated by ',' ">
            </textarea>
        </div>
        <br>
        <div>
            <label>Content</label>
            <textarea placeholder="Write your content here"
                      th:text="${post}!=null?${post.content}:null" style="height: 250px;resize: vertical;"
                      name="content"></textarea>
        </div>
        <br>
        <div>
            <button type="submit" formaction="/post/publish"
                    formmethod="post">Publish
            </button>
            &nbsp &nbsp &nbsp
            <button type="submit" formaction="/post/draft"
                    formmethod="post">Save as Draft
            </button>
        </div>
    </form>
</div>
</body>

</html>